<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeaGrab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49A16C161C0AD11300138598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A16C2E1C0AD11400138598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A16C391C0AD11400138598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
